.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 1080px;
}

.todo-item.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-item input[type="checkbox"] {
  accent-color: #6a11cb;
}

.todo-item button {
  background: none;
  border: none;
  cursor: pointer;
}